/*Justify-between might work for header logo*/
.pagebody {
    box-sizing: border-box;
    display: block;
    font-family: 'roboto', sans-serif;
}
.header {
    background-color: #1f2937;
    color: white;
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 100px;
    margin: 0 auto;
}

.info {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    padding-bottom: 100px;
    margin: 0 auto;
    text-align: center;
}

.quote {
    background-color: #e5e7eb;
    color: #1f2937;
    padding: 100px;
    margin: 0 auto;
}

.signup {
    display: flex;
    margin: 100px;
    background-color: #3882f6;
    border-radius: 8px;
    color: #f9faf8;
    margin-left: 200px;
    margin-right: 200px;
}

.cr {
    background-color: #1f2937;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: small;
    padding: 20px;

}

/*Flexbox general*/

.jc-space-around  {
    justify-content: space-around;
}
.jc-space-evenly {
    justify-content: space-evenly;
}
.jc-space-between {
    justify-content: space-between;
}
.jc-center {
    justify-content: center;
}
.ai-center {
    align-items: center;
}

.flex {
    display: flex;
}
.block {
    display: block;
}

.column {
    flex-direction: column;
}

.gap2 {
    gap: 2em;
}


/*text general*/

.no-margin {
    margin-top: 0px;
    margin-bottom: 0px;
}

.no-margin-left {
    margin-left: 0px;
}

.marginlr {
    margin-left: 240px;
    margin-right: 240px;

}
/*Unique classes*/

.button {
    background-color: #3882f6;
    padding: 0.6em 2em;
    border-radius: 8px;
    color: white;
    font-size: 1.1em;
    border: 0;
    cursor: pointer;
}

.button2 {
    border-style: solid;
    border-color: #f9faf8;
    background-color: #3882f6;
    padding: 0.6em 2em;
    border-radius: 8px;
    color: white;
    font-size: 1.1em;
    cursor: pointer;
    height: 42px;
}

.infobox {
    height: 150px;
    width: 150px;
    border-radius: 12px;
    border-style: solid;
    border-width: 4px; 
    border-color: #3882f6;
    background-color: white;
}

.subtext {
    width: 150px;
    text-align: center2;
    font-size: 16px;
    color: #363636;
}

.links {
    margin-left: 1.5rem;
    align-items: center;
    flex-direction: row;
    padding-bottom: 50px;
}

.w-4 {
    width: 450px;
}

.h-2 {
    height: 200px;
}

.toptext {
    margin-top: 40px;
    margin-bottom: 0;
    font-weight: 800;
}

.bottomtext {
    margin-top: 0;
    margin-bottom: 40px;
    font-size: smaller;
}

.awesome {
    font-size: 48px;
    font-weight: 800;
}
.awesome-secondary {
    font-size: 18px;
    color: #e5e7eb;
}

.infoheader {
    font-size: 36px;
}

.quotetext {
    color: #1f2937;  
}

.hero-placeholder {
    background-color: rgb(109, 116, 125);
}

.quoted {
    text-align: right;
    color: #1f2937;
    font-weight: 700;
}